body {
    background-color: #eaecf7;
}
body.bg-white {
    background-color: #fff;
}
#fp-nav > ul > li {
    width: 27px !important;
    height: 27px !important;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 5px !important;
    width: 5px !important;
    background: #fff !important;
    margin: -2.5px 0 0 -2.5px !important;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #808384 !important;
}
.header-menu.show,
.menu-reg.menu-show {
    z-index: 1000 !important;
}
.mor-nav-drop {
    display: flex;
}
.search-block__filter > div:not(:last-child) .select {
    border-right: solid 1px #d5d7ef;
}
.section-flot {
    background-color: #eaecf7;
}
.fp-overflow {
    width: 100%;
}
.section-work {
    border-top: 1px solid #d5d7ef;
    margin-top: 0px;
    padding-top: 20px;
}
#add-existing-ship,
#add-new-ship,
#ship-info,
#modal-error-reporting,
#modal-response {
    width: 90%;
    max-width: 1190px;
    max-height: 98%;
    overflow: auto;
    top: 50%;
    left: 50%;
    transition: 0.3s all;
    padding: 0px;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
}
#add-existing-ship.menu-show,
#add-new-ship.menu-show,
#ship-info.menu-show,
#modal-error-reporting.menu-show,
#modal-response.menu-show {
    opacity: 1;
    z-index: 1000;
}
.cabinet .modal-block h2.modal-title {
    font-size: 36px;
    font-family: "Myriad Pro Light", sans-serif;
    color: black;
    font-weight: 300;
    margin: 0px;
}

.suda-top__item {
    cursor: pointer;
}
.modal-block {
    width: calc(100% - 80px);
    padding-bottom: 20px;
}
.suda-item__text {
    padding-bottom: 10px;
}
#dd-new-ship .suda-item__text {
    padding-bottom: 0px;
}
#add-existing-ship.menu-reg .tag-input__item {
    padding: 10px 15px;
}
#modal-response.menu-show {
    width: auto;
    max-width: 560px;
}
#modal-response.menu-show .modal-block {
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-gap: 30px;
}

.fp-viewing-2 #fp-nav ul li a.active span, .fp-viewing-2 #fp-nav ul li:hover a.active span, .fp-viewing-2 .fp-slidesNav ul li a.active span, .fp-viewing-2 .fp-slidesNav ul li:hover a.active span {
    background: #9c291b !important;
}
.header-overlay {
    background-image: none;
    background-color: rgba(77, 81, 114, 0.5);
}
#responses .vi-item:last-child {
    grid-column: 0 span;
}
#scroll_top {
    display: none;
}